<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	">
	<description>Shiro 配置</description>
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
	<property name="securityManager" ref="securityManager" />
	<property name="loginUrl" value="/account/login" />
	<property name="successUrl" value="/admin/index" />
	<property name="unauthorizedUrl" value="/account/login" />
	<property name="filterChainDefinitions">
		<value>
				/druid/**=authc,roles[admin]
				/admin/** = authc,roles[admin]
				/manage/**=authc,roles[admin]
				/user/** = authc
				/me = authc
				/** = anon
		</value>
	</property>
</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroRealmService" />
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">  
    <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>  
</bean> 
</beans>